##### CONSTRAINTS #####

# there must be at least one box of each color
(or C1Y C1W C1B)
(or C2Y C2W C2B)
(or C3Y C3W C3B)

# if the box was initially labeled both, it cannot contain both types of balls
(or (not L1B) (not C1B))
(or (not L2B) (not C2B))
(or (not L3B) (not C3B))

# if the box was initially labeled yellow, it cannot contain only yellow balls
(or (not L1Y) (not C1Y))
(or (not L2Y) (not C2Y))
(or (not L3Y) (not C3Y))

# if the box was initially labeled white, it cannot contain only white balls
(or (not L1W) (not C1W))
(or (not L2W) (not C2W))
(or (not L3W) (not C3W))

# if the box contains only yellow balls, the other two boxes cannot contain only yellow balls
(or (not C1Y) (not C2Y))
(or (not C1Y) (not C3Y))
(or (not C2Y) (not C1Y))
(or (not C2Y) (not C3Y))
(or (not C3Y) (not C1Y))
(or (not C3Y) (not C2Y))

# if the box contains only white balls, the other two boxes cannot contain only white balls
(or (not C1W) (not C2W))
(or (not C1W) (not C3W))
(or (not C2W) (not C1W))
(or (not C2W) (not C3W))
(or (not C3W) (not C1W))
(or (not C3W) (not C2W))

# if the box contains both types of balls, the other two boxes cannot contain both types of balls
(or (not C1B) (not C2B))
(or (not C1B) (not C3B))
(or (not C2B) (not C1B))
(or (not C2B) (not C3B))
(or (not C3B) (not C1B))
(or (not C3B) (not C2B))


##### IMPLICATIONS #####

# drawing a yellow ball means the box cannot contain only white balls
(or (not O1Y) C1Y C1B)
(or (not O2Y) C2Y C2B)
(or (not O3Y) C3Y C3B)

# drawing a white ball means the box cannot contain only yellow balls
(or (not O1W) C1W C1B)
(or (not O2W) C2W C2B)
(or (not O3W) C3W C3B)
