### Coordinate System of Wumpus World ###
# (1,4) (2,4) (3,4) (4,4) 
# (1,3) (2,3) (3,3) (4,3) 
# (1,2) (2,2) (3,2) (4,2) 
# (1,1) (2,1) (3,1) (4,1) 

# rooms adjacent to a pit will have a breeze
(or (not pit14) breeze13)
(or (not pit14) breeze24)
(or (not pit24) breeze23)
(or (not pit24) breeze34)
(or (not pit24) breeze14)
(or (not pit34) breeze33)
(or (not pit34) breeze44)
(or (not pit34) breeze24)
(or (not pit44) breeze43)
(or (not pit44) breeze34)
(or (not pit13) breeze14)
(or (not pit13) breeze12)
(or (not pit13) breeze23)
(or (not pit23) breeze24)
(or (not pit23) breeze22)
(or (not pit23) breeze33)
(or (not pit23) breeze13)
(or (not pit33) breeze34)
(or (not pit33) breeze32)
(or (not pit33) breeze43)
(or (not pit33) breeze23)
(or (not pit43) breeze44)
(or (not pit43) breeze42)
(or (not pit43) breeze33)
(or (not pit12) breeze13)
(or (not pit12) breeze11)
(or (not pit12) breeze22)
(or (not pit22) breeze23)
(or (not pit22) breeze21)
(or (not pit22) breeze32)
(or (not pit22) breeze12)
(or (not pit32) breeze33)
(or (not pit32) breeze31)
(or (not pit32) breeze42)
(or (not pit32) breeze22)
(or (not pit42) breeze43)
(or (not pit42) breeze41)
(or (not pit42) breeze32)
(or (not pit11) breeze12)
(or (not pit11) breeze21)
(or (not pit21) breeze22)
(or (not pit21) breeze31)
(or (not pit21) breeze11)
(or (not pit31) breeze32)
(or (not pit31) breeze41)
(or (not pit31) breeze21)
(or (not pit41) breeze42)
(or (not pit41) breeze31)

# rooms adjacent to the wumpus will have a stench
(or (not wumpus14) stench13)
(or (not wumpus14) stench24)
(or (not wumpus24) stench23)
(or (not wumpus24) stench34)
(or (not wumpus24) stench14)
(or (not wumpus34) stench33)
(or (not wumpus34) stench44)
(or (not wumpus34) stench24)
(or (not wumpus44) stench43)
(or (not wumpus44) stench34)
(or (not wumpus13) stench14)
(or (not wumpus13) stench12)
(or (not wumpus13) stench23)
(or (not wumpus23) stench24)
(or (not wumpus23) stench22)
(or (not wumpus23) stench33)
(or (not wumpus23) stench13)
(or (not wumpus33) stench34)
(or (not wumpus33) stench32)
(or (not wumpus33) stench43)
(or (not wumpus33) stench23)
(or (not wumpus43) stench44)
(or (not wumpus43) stench42)
(or (not wumpus43) stench33)
(or (not wumpus12) stench13)
(or (not wumpus12) stench11)
(or (not wumpus12) stench22)
(or (not wumpus22) stench23)
(or (not wumpus22) stench21)
(or (not wumpus22) stench32)
(or (not wumpus22) stench12)
(or (not wumpus32) stench33)
(or (not wumpus32) stench31)
(or (not wumpus32) stench42)
(or (not wumpus32) stench22)
(or (not wumpus42) stench43)
(or (not wumpus42) stench41)
(or (not wumpus42) stench32)
(or (not wumpus11) stench12)
(or (not wumpus11) stench21)
(or (not wumpus21) stench22)
(or (not wumpus21) stench31)
(or (not wumpus21) stench11)
(or (not wumpus31) stench32)
(or (not wumpus31) stench41)
(or (not wumpus31) stench21)
(or (not wumpus41) stench42)
(or (not wumpus41) stench31)

# if there is no breeze in a room, the adjacent rooms do not have a pit
(or breeze14 (not pit13))
(or breeze14 (not pit24))
(or breeze24 (not pit23))
(or breeze24 (not pit34))
(or breeze24 (not pit14))
(or breeze34 (not pit33))
(or breeze34 (not pit44))
(or breeze34 (not pit24))
(or breeze44 (not pit43))
(or breeze44 (not pit34))
(or breeze13 (not pit14))
(or breeze13 (not pit12))
(or breeze13 (not pit23))
(or breeze23 (not pit24))
(or breeze23 (not pit22))
(or breeze23 (not pit33))
(or breeze23 (not pit13))
(or breeze33 (not pit34))
(or breeze33 (not pit32))
(or breeze33 (not pit43))
(or breeze33 (not pit23))
(or breeze43 (not pit44))
(or breeze43 (not pit42))
(or breeze43 (not pit33))
(or breeze12 (not pit13))
(or breeze12 (not pit11))
(or breeze12 (not pit22))
(or breeze22 (not pit23))
(or breeze22 (not pit21))
(or breeze22 (not pit32))
(or breeze22 (not pit12))
(or breeze32 (not pit33))
(or breeze32 (not pit31))
(or breeze32 (not pit42))
(or breeze32 (not pit22))
(or breeze42 (not pit43))
(or breeze42 (not pit41))
(or breeze42 (not pit32))
(or breeze11 (not pit12))
(or breeze11 (not pit21))
(or breeze21 (not pit22))
(or breeze21 (not pit31))
(or breeze21 (not pit11))
(or breeze31 (not pit32))
(or breeze31 (not pit41))
(or breeze31 (not pit21))
(or breeze41 (not pit42))
(or breeze41 (not pit31))

# if there is no stench in a room, the adjacent rooms do not have a wumpus
(or stench14 (not wumpus13))
(or stench14 (not wumpus24))
(or stench24 (not wumpus23))
(or stench24 (not wumpus34))
(or stench24 (not wumpus14))
(or stench34 (not wumpus33))
(or stench34 (not wumpus44))
(or stench34 (not wumpus24))
(or stench44 (not wumpus43))
(or stench44 (not wumpus34))
(or stench13 (not wumpus14))
(or stench13 (not wumpus12))
(or stench13 (not wumpus23))
(or stench23 (not wumpus24))
(or stench23 (not wumpus22))
(or stench23 (not wumpus33))
(or stench23 (not wumpus13))
(or stench33 (not wumpus34))
(or stench33 (not wumpus32))
(or stench33 (not wumpus43))
(or stench33 (not wumpus23))
(or stench43 (not wumpus44))
(or stench43 (not wumpus42))
(or stench43 (not wumpus33))
(or stench12 (not wumpus13))
(or stench12 (not wumpus11))
(or stench12 (not wumpus22))
(or stench22 (not wumpus23))
(or stench22 (not wumpus21))
(or stench22 (not wumpus32))
(or stench22 (not wumpus12))
(or stench32 (not wumpus33))
(or stench32 (not wumpus31))
(or stench32 (not wumpus42))
(or stench32 (not wumpus22))
(or stench42 (not wumpus43))
(or stench42 (not wumpus41))
(or stench42 (not wumpus32))
(or stench11 (not wumpus12))
(or stench11 (not wumpus21))
(or stench21 (not wumpus22))
(or stench21 (not wumpus31))
(or stench21 (not wumpus11))
(or stench31 (not wumpus32))
(or stench31 (not wumpus41))
(or stench31 (not wumpus21))
(or stench41 (not wumpus42))
(or stench41 (not wumpus31))

# there is only one wumpus
(or (not wumpus11) (not wumpus12))
(or (not wumpus11) (not wumpus13))
(or (not wumpus11) (not wumpus14))
(or (not wumpus11) (not wumpus21))
(or (not wumpus11) (not wumpus22))
(or (not wumpus11) (not wumpus23))
(or (not wumpus11) (not wumpus24))
(or (not wumpus11) (not wumpus31))
(or (not wumpus11) (not wumpus32))
(or (not wumpus11) (not wumpus33))
(or (not wumpus11) (not wumpus34))
(or (not wumpus11) (not wumpus41))
(or (not wumpus11) (not wumpus42))
(or (not wumpus11) (not wumpus43))
(or (not wumpus11) (not wumpus44))
(or (not wumpus12) (not wumpus13))
(or (not wumpus12) (not wumpus14))
(or (not wumpus12) (not wumpus21))
(or (not wumpus12) (not wumpus22))
(or (not wumpus12) (not wumpus23))
(or (not wumpus12) (not wumpus24))
(or (not wumpus12) (not wumpus31))
(or (not wumpus12) (not wumpus32))
(or (not wumpus12) (not wumpus33))
(or (not wumpus12) (not wumpus34))
(or (not wumpus12) (not wumpus41))
(or (not wumpus12) (not wumpus42))
(or (not wumpus12) (not wumpus43))
(or (not wumpus12) (not wumpus44))
(or (not wumpus13) (not wumpus14))
(or (not wumpus13) (not wumpus21))
(or (not wumpus13) (not wumpus22))
(or (not wumpus13) (not wumpus23))
(or (not wumpus13) (not wumpus24))
(or (not wumpus13) (not wumpus31))
(or (not wumpus13) (not wumpus32))
(or (not wumpus13) (not wumpus33))
(or (not wumpus13) (not wumpus34))
(or (not wumpus13) (not wumpus41))
(or (not wumpus13) (not wumpus42))
(or (not wumpus13) (not wumpus43))
(or (not wumpus13) (not wumpus44))
(or (not wumpus14) (not wumpus21))
(or (not wumpus14) (not wumpus22))
(or (not wumpus14) (not wumpus23))
(or (not wumpus14) (not wumpus24))
(or (not wumpus14) (not wumpus31))
(or (not wumpus14) (not wumpus32))
(or (not wumpus14) (not wumpus33))
(or (not wumpus14) (not wumpus34))
(or (not wumpus14) (not wumpus41))
(or (not wumpus14) (not wumpus42))
(or (not wumpus14) (not wumpus43))
(or (not wumpus14) (not wumpus44))
(or (not wumpus21) (not wumpus22))
(or (not wumpus21) (not wumpus23))
(or (not wumpus21) (not wumpus24))
(or (not wumpus21) (not wumpus31))
(or (not wumpus21) (not wumpus32))
(or (not wumpus21) (not wumpus33))
(or (not wumpus21) (not wumpus34))
(or (not wumpus21) (not wumpus41))
(or (not wumpus21) (not wumpus42))
(or (not wumpus21) (not wumpus43))
(or (not wumpus21) (not wumpus44))
(or (not wumpus22) (not wumpus23))
(or (not wumpus22) (not wumpus24))
(or (not wumpus22) (not wumpus31))
(or (not wumpus22) (not wumpus32))
(or (not wumpus22) (not wumpus33))
(or (not wumpus22) (not wumpus34))
(or (not wumpus22) (not wumpus41))
(or (not wumpus22) (not wumpus42))
(or (not wumpus22) (not wumpus43))
(or (not wumpus22) (not wumpus44))
(or (not wumpus23) (not wumpus24))
(or (not wumpus23) (not wumpus31))
(or (not wumpus23) (not wumpus32))
(or (not wumpus23) (not wumpus33))
(or (not wumpus23) (not wumpus34))
(or (not wumpus23) (not wumpus41))
(or (not wumpus23) (not wumpus42))
(or (not wumpus23) (not wumpus43))
(or (not wumpus23) (not wumpus44))
(or (not wumpus24) (not wumpus31))
(or (not wumpus24) (not wumpus32))
(or (not wumpus24) (not wumpus33))
(or (not wumpus24) (not wumpus34))
(or (not wumpus24) (not wumpus41))
(or (not wumpus24) (not wumpus42))
(or (not wumpus24) (not wumpus43))
(or (not wumpus24) (not wumpus44))
(or (not wumpus31) (not wumpus32))
(or (not wumpus31) (not wumpus33))
(or (not wumpus31) (not wumpus34))
(or (not wumpus31) (not wumpus41))
(or (not wumpus31) (not wumpus42))
(or (not wumpus31) (not wumpus43))
(or (not wumpus31) (not wumpus44))
(or (not wumpus32) (not wumpus33))
(or (not wumpus32) (not wumpus34))
(or (not wumpus32) (not wumpus41))
(or (not wumpus32) (not wumpus42))
(or (not wumpus32) (not wumpus43))
(or (not wumpus32) (not wumpus44))
(or (not wumpus33) (not wumpus34))
(or (not wumpus33) (not wumpus41))
(or (not wumpus33) (not wumpus42))
(or (not wumpus33) (not wumpus43))
(or (not wumpus33) (not wumpus44))
(or (not wumpus34) (not wumpus41))
(or (not wumpus34) (not wumpus42))
(or (not wumpus34) (not wumpus43))
(or (not wumpus34) (not wumpus44))
(or (not wumpus41) (not wumpus42))
(or (not wumpus41) (not wumpus43))
(or (not wumpus41) (not wumpus44))
(or (not wumpus42) (not wumpus43))
(or (not wumpus42) (not wumpus44))
(or (not wumpus43) (not wumpus44))

# there is no wumpus or pit in any room that has already been visited
(or (not visited14) (not wumpus14))
(or (not visited14) (not pit14))
(or (not visited24) (not wumpus24))
(or (not visited24) (not pit24))
(or (not visited34) (not wumpus34))
(or (not visited34) (not pit34))
(or (not visited44) (not wumpus44))
(or (not visited44) (not pit44))
(or (not visited13) (not wumpus13))
(or (not visited13) (not pit13))
(or (not visited23) (not wumpus23))
(or (not visited23) (not pit23))
(or (not visited33) (not wumpus33))
(or (not visited33) (not pit33))
(or (not visited43) (not wumpus43))
(or (not visited43) (not pit43))
(or (not visited12) (not wumpus12))
(or (not visited12) (not pit12))
(or (not visited22) (not wumpus22))
(or (not visited22) (not pit22))
(or (not visited32) (not wumpus32))
(or (not visited32) (not pit32))
(or (not visited42) (not wumpus42))
(or (not visited42) (not pit42))
(or (not visited11) (not wumpus11))
(or (not visited11) (not pit11))
(or (not visited21) (not wumpus21))
(or (not visited21) (not pit21))
(or (not visited31) (not wumpus31))
(or (not visited31) (not pit31))
(or (not visited41) (not wumpus41))
(or (not visited41) (not pit41))

# a room is safe if it does not contain a wumpus or a pit
(or wumpus14 safe14)
(or pit14 safe14)
(or wumpus24 safe24)
(or pit24 safe24)
(or wumpus34 safe34)
(or pit34 safe34)
(or wumpus44 safe44)
(or pit44 safe44)
(or wumpus13 safe13)
(or pit13 safe13)
(or wumpus23 safe23)
(or pit23 safe23)
(or wumpus33 safe33)
(or pit33 safe33)
(or wumpus43 safe43)
(or pit43 safe43)
(or wumpus12 safe12)
(or pit12 safe12)
(or wumpus22 safe22)
(or pit22 safe22)
(or wumpus32 safe32)
(or pit32 safe32)
(or wumpus42 safe42)
(or pit42 safe42)
(or wumpus11 safe11)
(or pit11 safe11)
(or wumpus21 safe21)
(or pit21 safe21)
(or wumpus31 safe31)
(or pit31 safe31)
(or wumpus41 safe41)
(or pit41 safe41)
